* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fffaf4;
  color: #4b3a2f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #b58e63;
  color: #fffdf7;
}

header .btn-prenota {
  background-color: #fff;
  color: #8a6b47;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

header .btn-prenota:hover {
  background-color: #f5e4c3;
}

.carousel {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  background-color: #f3e8d1;
}
.carousel-container {
  width: 100%;
  height: 100%;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  transition: opacity 1s ease;
}


.carousel-container img.active {
  display: block;
  opacity: 1;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  transition: background 0.3s;
}

.carousel button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.carousel .prev { left: 15px; }
.carousel .next { right: 15px; }

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 40px;
  background-color: #fffdf9;
}

.image-placeholder img {
  width: 400px;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.story {
  width: 45%;
}

.story h2 {
  color: #a3703f;
  margin-bottom: 10px;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  background-color: #f9f2e7;
}

.features .box {
  width: 22%;
  text-align: center;
  text-decoration: none;
  color: #4b3a2f;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.features .box img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9; 
  object-fit: cover;
  transition: transform 0.5s ease;
}

.features .box:hover img {
  transform: scale(1.1);
}

.features .box:hover {
  transform: scale(1.05);
}

.features .box h3 {
  padding: 15px;
  background-color: #f2d6a0;
  font-weight: bold;
}


footer {
  background-color: #b58e63;
  color: #fffdf7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-size: 14px;
}
